*{
    margin: 0;
    padding: 0;
}

.cabecalho {
    background-color: #000000;
    color:white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px 0;
}

.cabecalho-imagem{
    width: 13%;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 20px;
    font-size: 20px;
}

.escola-imagem{
    width: 20%;
}

.escola{
    background-image: linear-gradient(#000000,#555555);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
}

.escola-titulo{
    padding: 20px 0;
}